<!DOCTYPE html>
<html>

<head>
  <title>Add Page</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/assets/css/style.css' />
</head>

<body>
  <div class="container mt-2">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Главная</a>
      <span class="breadcrumb-item active">Добавление товара</span>
    </nav>
  </div>

  <div class="container pb-4">
    <%- include formItem.ejs %>
  </div>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/tether.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/requestsClient.js"></script>
  <script src="/assets/js/validateForm.js"></script>
  <script src="/assets/js/add.js"></script>

</body>

</html>
