<html>

<body>

  <div>
    <form name="upload">
      <input type="file" name='myfile' id="InputFiles" />
      <input type="submit" value="Download" />
    </form>
  </div>

  <script src="/assets/js/excel/js-xlsx-master/dist/xlsx.full.min.js"></script>
  <script src="/assets/js/excel/parse&upload.js"></script>
  <!--  <script>
    XMLHttpRequest = new XMLHttpRequest();
    XMLHttpRequest.open("POST","/upload",true);
    XMLHttpRequest.send("Body");
  </script> -->
</body>

</html>
