<html>
<<head>Test XLSX</head>
<body>
  <div class="main">
      <progress id="progress"></progress>
      <div class="filedrag" id="comps">Перетащите файл <span class="red">сюда</span></div>
      <div class="result"></div>
  </div>
</body>
</html>
