<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/" routerLinkActive="active" queryParamsHandling="preserve">Главная</a>
  <span class="breadcrumb-item active">Импорт Excel</span>
</nav>

<div class="row">

  <div class="container">
    <div class="jumbotron">
      <h2>TODO норм описание</h2>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div class="center-block">
          <h3 class="header">Шаг 1:</h3>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Cкачайте нашу заготовку Excel</h3>
        <p>Выберете Вашу версию Excel и скачайте</p>
        <form id="formd">
          <div>
            <label><input [(ngModel)]="form" type="radio" name="format" value="xls"> Расширение: .xls </label>
          </div>
          <div>
            <label><input [(ngModel)]="form" type="radio" name="format" value="xlsx" checked> Расширение: .xlsx </label>
          </div>
          <button (click)="onSubmit(form)" type="submit" class="btn btn-primary" form="formd">Скачать</button>
          <!-- <<button (click)="getAlert()">Нажми</button> -->
        </form>
      </div>
    </div><!-- .row -->

  </div><!-- .container -->

  <div class="container mt-5">

    <div class="row">

      <div class="col-md-6">
        <h3>Шаг 2:</h3>
      </div>

      <div class="col-md-6">
        <h3>Заполните все столбцы в соответствии с их заголовками</h3>
        <p>Заполните все столбцы корректно во избежание ошибок</p>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

  <div class="container mt-5">

    <div class="row">

      <div class="col-md-6">
        <h3>Шаг 3:</h3>
      </div>

      <div class="col-md-6">
        <h3>Выберете Ваш готовый файл</h3>
        <p>Выберете Ваш файл</p>
        <form id="upload">
          <label (change)="handleFile($event)" class="btn btn-primary" >Выбрать<input type="file" id="InputFiles" style="display: none"/></label>
        </form>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->
<div>

<div *ngIf="1" class="container mt-2">
  <h3>Cписок товаров:</h3>
  <div class="row">		
    <div *ngFor="let product of getJson()" class="col-sm-4 mt-2">
      <div class="card" style="border-radius: 10px">
          <div class="card-header" style="background:#ff7800" >
<!--   	       <h3 class="card-title">{{product["name"]}}</h3>-->
         <h3 style="color:white">{{product["name"]}}</h3>
          </div>
        <div class="card-block" style="background:#eceeef">
          <p class="card-text"><b>Описание товара:</b> {{ product["description"] }} </p>
          <p class="card-text"><b>Код товара:</b> {{ product["code"] }} </p>
          <p class="card-text"><b>Артикул:</b> {{ product["articleNumber"] }} </p>
          <p class="card-text"><b>Штрихкоды:</b> {{ product["barCodes"] }} </p>
          <p class="card-text"><b>Отпускная цена:</b> {{ product["price"] }} </p>
          <p class="card-text"><b>Закупочная цена:</b> {{ product["costPrice"] }} </p>
          <p class="card-text"><b>Количество товара в наличии(остаток):</b> {{ product["quantity"] }} </p>
          <p class="card-text"><b>Ставка НДС:</b> {{ getNDS(product["tax"]) }} </p>
          <p class="card-text"><b>Тип товара:</b> {{ getType(product["type"]) }} </p>
          <p class="card-text"><b>Единица измерения:</b> {{ product["measureName"] }} </p>
          <p class="card-text"><b>Доступен к продаже:</b> {{ product["allowToSell"] === true? "Да": "Нет" }} </p>
          <div *ngIf="product['type'] != 'NORMAL'" class="container mt-2">
  	      <p class="card-text"><b>Коды алкогольной продукции:</b> {{ product["alcoCodes"] }} </p>
    	    <p class="card-text"><b>Крепкость алкогольной продукции:</b> {{ product["alcoholByVolume"] }} </p>
					<p class="card-text"><b>Код вида алкогольной продукции:</b> {{ product["alcoholProductKindCode"] }} </p>
					<p class="card-text"><b>Ёмкость тары алкогольной продукции:</b> {{ product["tareVolume"] }} </p>
       		</div>
        </div>
      </div>
    </div>

  </div>
</div>
 	<div class="container text-center" style="margin-top:40px">
    <button class="btn btn-primary">Подтвердить и отправить</button>
  </div>
</div>

</div>
