  <nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/" routerLinkActive="active" queryParamsHandling="preserve">Главная</a>
  <span class="breadcrumb-item active">Импорт Excel</span>
</nav>

<div class="row">

  <div class="container">
    <div class="jumbotron">
      <h2>Возможность добавления более одного товара без особых услилий!</h2>
    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div class="center-block">
          <h3 class="header">Шаг 1:</h3>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Cкачайте нашу заготовку Excel</h3>
        <p>Выберите Вашу версию Excel и скачайте</p>
        <form id="formd">
          <div>
            <label><input [(ngModel)]="form" type="radio" name="format" value="xls"> Расширение: .xls </label>
          </div>
          <div>
            <label><input [(ngModel)]="form" type="radio" name="format" value="xlsx" checked> Расширение: .xlsx </label>
          </div>
          <button (click)="onSubmit(form)" type="submit" class="btn btn-primary" form="formd">Скачать</button>
          <!-- <<button (click)="getAlert()">Нажми</button> -->
        </form>
      </div>
    </div><!-- .row -->

  </div><!-- .container -->

  <div class="container mt-5">

    <div class="row">

      <div class="col-md-6">
        <h3>Шаг 2:</h3>
      </div>

      <div class="col-md-6">
        <h3>Заполните все столбцы в соответствии с их заголовками</h3>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->

<div class="container col-md-12 p-4" style="margin-top: 20px">
<h4>Инструкция использования формы для добавления более одного товара в свой магазин:</h4>

<span class="badge badge-default mb-3" (click)="toggle = !toggle" id="instruction-button">Свернуть/развернуть</span>

<div id="instruction" *ngIf="toggle">
<div style="background: #eceeef">
<h5><b>1. Заполнить поля:</b></h5>

 <h6>
 <ol> <!-- инструкция-->
    <b><li>Номер товара</li></b>
    <br>Заполняется по порядку исключительно для удобства отслеживания количества введенного товара. 
    <br>Никак не влияет на конечный результат.<br><br>

    <b><li>Наименование товара</li></b> 
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    В представленном поле для каждого товара заполните наименование товара.<br><br>
    
    <b><li>Описание товара</li></b>
    <br>Это необязательное поле. Здесь вводится описание товара, который Вы хотите добавить.<br><br>
    
    <b><li>Код товара</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>Внимание! Количество символов НЕ ПРЕВЫШАЕТ 10 символов!<br><br>

    <b><li>Артикул</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    <span style="color:red">Внимание!</span> Количество символов <span style="color:red">НЕ ПРЕВЫШАЕТ 20</span> символов!<br><br>

    <b><li>Штрихкоды</li></b>
    <br>Это необязательное поле. Если оставить представленные поля пустыми, то эти товары будут представлены только визуально в терминале.<br>
    <span style="color:red">Внимание!</span> Для корректного ввода необходимо <span style="color:red">ПРЕЧИСЛИТЬ КОДЫ ЧЕРЕЗ ЗАПЯТУЮ</span>.<br><br>

    <b><li>Отпускная цена</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    Вводится цена товара, по которой Вы будете продовать этот товар.<br><br>

    <b><li>Закупочная цена</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    Вводится цена товара, по которой Вы покупали этот товар.<br><br>

    <b><li>Количество товара в наличии (оставшегося, т.е остаток)</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    Здесь необходимо ввести остаток товара, который остался.<br>
    Внимание! Колличество знаков после запятой <span style="color:red">НЕ ПРЕВЫШАЕТ 3 занака после запятой!</span><br><br>

    <b><li>Ставка НДС</li></b>
    <br> Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    В этом поле необходимо ввести 2 символа, исключение: БЕЗ НДС, для этого введите просто "без". Если НДС составляет 10%, то ввести 10, 18% - 18. <br>Второй символ вводится через пробел при русской раскладке клавиатуры. "с" для НДС с расчетной ставкой, "б" для НДС без расчетной ставки. 
    <span style="color:red">Символы вводятся БЕЗ КОВЫЧЕК.</span><br><br>

    <b><li>Тип товара</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    Вводится только нужное значение:<br>
      "обычный" - для неалькогольной продукции;<br>
      "маркированный алкоголь" - для маркированной алкогольной продукции;<br>
      "немаркированный алкоголь" - для немаркированного алкоголя;<br>
    Значения вводятся <span style="color:red">БЕЗ КОВЫЧЕК.</span> <br><br>

    <b><li>Единица измерения</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    Инструкция представленна в файле template.xls (template.xlsx), который Вы скачали на Шаге 1.<br><br>

    <b><li>Доступность товара для продажи</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, его необходимо заполнить! Влияет на результат работы программы.<br>
    "Да" - доступен. "Нет" - не доступен<br>
    Значения вводятся <span style="color:red">БЕЗ КОВЫЧЕК.</span><br><br>
    </ol>
  
    <div style="text-align: center;"><b>Далее идут значения, которые необходимо заполнять только в случае, если Ваш товар принадлежит АЛКОГОЛЬНОЙ ПРОДУКЦИИ, <span style="color:red">иначе эти поля ЗАПОЛНЯТЬ НЕ НАДО, оставьте их пустыми.</span></b></div><br>
  <ol>
    <b><li>Крепкость алкогольной продукции</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, если Ваш товар принадлежит к алкогольным, его необходимо заполнить! Влияет на результат работы программы.<br>
    Число должно лежать между 0.001 и 99.999 и содержать не более, <span style="color:red">чем 3 знака после запятой.</span><br><br>
    
    <b><li>Код вида алкогольной продукции ФСРАР</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, если Ваш товар принадлежит к алкогольным, его необходимо заполнить! Влияет на результат работы программы.<br>
    Число должно лежать между 1 и 999.<br><br>
    
    <b><li>Ёмкость тары алкогольной продукции в литрах</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, если Ваш товар принадлежит к алкогольным, его необходимо заполнить!
    Влияет на результат работы программы.<br>
    Число должно лежать между 0.001 и 99.999 и содержать не более,<span style="color:red"> чем 3 знака после запятой.</span><br><br>
    
    <b><li>Коды алкогольной продукции ЕГАИС</li></b>
    <br>Это <span style="color:red">ОБЯЗАТЕЛЬНОЕ ПОЛЕ</span>, если Ваш товар принадлежит к алкогольным, его необходимо заполнить! Влияет на результат работы программы.<br>
    Если таковых несколько, то их надо перечислить через запятую.<br><br>
  </ol> <!-- инструкция -->
  </h6>

<h5><b>2. После заполнения файла и проверки на корректность введенных данных переходите к Шагу 3.</b></h5>
</div> 
<!-- style end -->
</div>

 </div>
  <div class="container mt-5">

    <div class="row">

      <div class="col-md-6">
        <h3>Шаг 3:</h3>
      </div>

      <div class="col-md-6">
        <h3>Выберите Ваш готовый файл</h3>
        <p>Выберите Ваш файл</p>
        <form id="upload">
          <label (change)="handleFile($event, fileName)" class="btn btn-primary" >Выбрать<input type="file" id="InputFiles" style="display: none"/>
          </label> 
          {{getFileName()}}
        </form>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->
<div>

<div *ngIf="1" class="container mt-2">
  <h3>Cписок товаров:</h3>
  <div class="row">
    <div *ngFor="let product of getJson()" class="col-sm-4 mt-2">
      <div class="card" style="border-radius: 10px">
          <div class="card-header" style="background:#ff7800" >
<!--   	       <h3 class="card-title">{{product["name"]}}</h3>-->
         <h3 style="color:white">{{product["name"]}}</h3>
          </div>
        <div class="card-block" style="background:#eceeef">
          <p class="card-text"><b>Описание товара:</b> {{ product["description"] }} </p>
          <p class="card-text"><b>Код товара:</b> {{ product["code"] }} </p>
          <p class="card-text"><b>Артикул:</b> {{ product["articleNumber"] }} </p>
          <p class="card-text"><b>Штрихкоды:</b> {{ product["barCodes"] }} </p>
          <p class="card-text"><b>Отпускная цена:</b> {{ product["price"] }} </p>
          <p class="card-text"><b>Закупочная цена:</b> {{ product["costPrice"] }} </p>
          <p class="card-text"><b>Количество товара в наличии(остаток):</b> {{ product["quantity"] }} </p>
          <p class="card-text"><b>Ставка НДС:</b> {{ getNDS(product["tax"]) }} </p>
          <p class="card-text"><b>Тип товара:</b> {{ getType(product["type"]) }} </p>
          <p class="card-text"><b>Единица измерения:</b> {{ product["measureName"] }} </p>
          <p class="card-text"><b>Доступен к продаже:</b> {{ product["allowToSell"] === true? "Да": "Нет" }} </p>
          <div *ngIf="product['type'] != 'NORMAL'" class="container mt-2">
  	      <p class="card-text"><b>Коды алкогольной продукции:</b> {{ product["alcoCodes"] }} </p>
    	    <p class="card-text"><b>Крепкость алкогольной продукции:</b> {{ product["alcoholByVolume"] }} </p>
					<p class="card-text"><b>Код вида алкогольной продукции:</b> {{ product["alcoholProductKindCode"] }} </p>
					<p class="card-text"><b>Ёмкость тары алкогольной продукции:</b> {{ product["tareVolume"] }} </p>
       		</div>
        </div>
      </div>
    </div>

  </div>
</div>
 	<div class="container text-center" style="margin-top:40px">
    <button (click)="sendInformation()" class="btn btn-primary">Подтвердить и отправить</button>
  </div>
</div>

</div>
