/*
цвета
ff7800 - основной оранжевый Эвотора
e86d00 - вторичный оранжевый (для hover на элементах и пр)
*/

.breadcrumb a {
  color: #ff7800 !important;
  text-decoration: inherit;
}

.breadcrumb a:hover {
  color: #e86d00 !important;
}

.btn-primary, .btn-primary[disabled], .btn-primary:active  {
  background-color: #ff7800;
  border-color: #ff7800 !important;
}

.btn-primary:hover {
  background-color: #e86d00;
  border-color: #ff7800 !important;
}

.btn-primary.focus {
  box-shadow: none;
}

.btn {
  cursor: pointer;
}
